@import '../variables.sass'
    
.chat-container
    width: 100%
    height: 100%
    display: flex
    align-items: center
    flex-direction: column

    .chat-header
        display: flex
        flex-direction: row
        justify-content: space-between
        align-items: center
        width: 80%

        button
            height: 4vw
            min-height: 20px
            width: 10vw
            min-width: 80px
            border: 2px solid $buttons_blue
            background-color: white
            cursor: pointer
            border-radius: 2px

        button:hover
            background-color: $buttons_blue
            border: 2px solid white
            color: white

    .logo
        max-width: 70px
        align-self: flex-start

    .chat-wrapper
        width: 80%
        height: 80%
        margin-top: 2vw

        .name-wrapper
            display: flex
            flex-direction: row
            justify-content: space-between

        .sport-type-chat
            border-bottom: 10px solid $sport_type
            background-color: $sport_type
            color: white

        .news-type-chat
            border-bottom: 10px solid $news_type
            background-color: $news_type
            color: white

        .meet-people-type-chat
            border-bottom: 10px solid $meet_people_type
            background-color: $meet_people_type
            color: white

        .sport-type-chat, .news-type-chat, .meet-people-type-chat
            padding: 10px 10px 10px 10px

            span
                font-weight: bold
                font-style: italic

        .messages-wrapper
            min-height: 90%
            border: 1px solid grey
            max-height: 90%
            overflow-y: scroll
            background-color: white
            display: flex
            flex-direction: column
            justify-content: flex-start

            .user-wrapper
                display: flex
                flex-direction: row
                margin-bottom: 20px

                .user-avatar
                    width: 20px
                    height: 20px
                    margin-right: 10px

        @media(max-width: 662px)
            .input-wrapper
                display: flex
                flex-direction: column
                height: 60px
                
                input
                    min-width: 100%

        @media(min-width: 663px)
            .input-wrapper
                display: flex
                flex-direction: row
                min-height: 10%

                input
                    min-width: 90%

                button
                    min-width: 10%

        .input-wrapper
            input
                height: 30px
                padding: 0 10px 0 10px

            button
                height: 30px
                border: none
                background-color: $grey
                cursor: pointer

            button:hover
                background-color: $shadow_grey
                