$grey: #E1E1E1
    
.login-wrapper
    height: 100%
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column

    .input-wrapper
        height: 30px
        width: 30% 

        input
            width: 80%
            border: 1px solid $grey
            padding: 0 10px 0 10px

        input, button
            height: inherit

        button
            border: none
            background-color: $grey

    .logo
        max-width: 120px