@import '../variables.sass'

.chatroom-list-wrapper
    display: flex
    flex-direction: column
    align-items: center
    height: 100%

    .header
        width: 80%
        display: flex
        flex-direction: row
        align-items: center
        justify-content: space-between

        img.logo
            max-width: 70px

        .buttons-container
            display: flex
            flex-direction: row

    .list-wrapper
        width: 80%
        align-self: center
        display: flex
        flex-direction: column
        align-items: center

        .options-bar
            width: 100%
            margin-top: 2vw
            
            .new-room-button
                align-self: flex-start

        .chatroom-list
            width: 100%
            padding: 0 2% 0 2%
            display: flex
            max-height: 540px
            overflow-y: scroll
            flex-direction: row
            justify-content: space-between
            margin-top: 3vw
            flex-wrap: wrap

    .new-room-button, .exit-button
        height: 2.5vw
        min-height: 20px
        width: 10vw
        min-width: 80px
        border: 2px solid $buttons_blue
        background-color: white
        cursor: pointer

    .new-room-button:hover, .exit-button:hover
        background-color: $buttons_blue
        border: 2px solid white
        color: white