@import '../variables.sass'

.chatroom-list-wrapper
    display: flex
    flex-direction: column
    align-items: center
    height: 100%

    .header
        width: 80%
        display: flex
        flex-direction: row
        align-items: center
        justify-content: space-between

        img.logo
            max-width: 70px

        .buttons-container
            display: flex
            flex-direction: row

    .list-wrapper
        width: 100%
        height: 100%
        margin-top: 2vw
        align-self: center
        display: flex
        flex-direction: column
        align-items: center
        overflow-y: scroll

        .options-bar
            width: 100%
            margin-top: 2vw
            
            .new-room-button
                align-self: flex-start

        .chatroom-list
            width: 100%
            display: flex
            flex-direction: row
            justify-content: flex-start
            align-items: center
            flex-wrap: wrap
            padding: 10px 10px 10px 10px

    .new-room-button, .exit-button
        height: 4vw
        min-height: 20px
        width: 10vw
        min-width: 80px
        border: 2px solid $buttons_blue
        background-color: white
        cursor: pointer
        border-radius: 2px

    .new-room-button:hover, .exit-button:hover
        background-color: $buttons_blue
        border: 2px solid white
        color: white