@import '../variables.sass'
    
.message-wrapper
    padding: 10px 10px 10px 10px
    margin: 10px 10px 10px 10px
    display: flex
    flex-direction: column
    width: 30%
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23)
    border-radius: 2px

    .user-message
        font-weight: bold

    .text-message

.grey-message
    background-color: $light_grey

.my-message
    align-self: flex-end